{% extends "base.html" %}

{% block title %}
LoopLab
{% endblock title %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <div>
        <label for="full_name">{{ form.full_name.label }}</label>
        {{ form.full_name }}
        {% if form.full_name.errors %}
            <div class="alert alert-danger">
                {% for error in form.full_name.errors %}
                    <span class="mr-1">{{ error }}</span>
                {% endfor %}        
            </div>
        {% endif %}
    </div>
    
    <div>
        <label for="email">{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="alert alert-danger">
                {% for error in form.email.errors %}
                    <span class="mr-1">{{ error }}</span>
                {% endfor %}        
            </div>
        {% endif %}
    </div>
    <button class="btn btn-primary my-3" type="submit">Join Us!</button>
</form>

<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <h1 class="display-4">Build <strong>social profiles</strong> and gain revenue
                        <strong>profits</strong></h1>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nulla recusandae asperiores beatae, soluta ab quam dolore distinctio</div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nulla recusandae asperiores beatae, soluta ab quam dolore distinctio</div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nulla recusandae asperiores beatae, soluta ab quam dolore distinctio</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-primary text-center card-form">
                        <div class="card-body">
                            <h3>Sign Up Today</h3>
                            <p>Please fill out his form to register</p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg"
                                        placeholder="Confirm password">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- EXPLORE HEAD -->
<section id="explore-head-section">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Explore</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia quasi et cumque
                    totam dolore hic sunt voluptates deserunt error consectetur!</p>
                <a href="#" class="btn btn-outline-secondary">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<!-- explore section -->
<section id="explore-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/explore-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Explore & Connect</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt quis perspiciatis repellat
                    illum corrupti dicta temporibus voluptas dolore possimus.</p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- create head -->
<section id="create-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Create</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia quasi et cumque
                    totam dolore hic sunt voluptates deserunt error consectetur!</p>
                <a href="#" class="btn btn-outline-light">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<!-- create section -->
<section id="create-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2">
                <img src="img/create-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6 order-1">
                <h3>Create Your Passion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt quis perspiciatis repellat
                    illum corrupti dicta temporibus voluptas dolore possimus.</p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SHARE HEAD -->
<section id="share-head-section" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">Share</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia quasi et cumque
                    totam dolore hic sunt voluptates deserunt error consectetur!</p>
                <a href="#" class="btn btn-outline-light">Find Out More</a>
            </div>
        </div>
    </div>
</section>

<!-- share section -->
<section id="share-section" class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="img/share-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
            </div>
            <div class="col-md-6">
                <h3>Share What You Create</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic deserunt quis perspiciatis repellat
                    illum corrupti dicta temporibus voluptas dolore possimus.</p>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-4 align-self-start">
                        <i class="fas fa-check fa-2x"></i>
                    </div>
                    <div class="p-4 align-self-end">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quam? Nesciunt officiis
                            culpa non suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}