{% extends "base.html" %}

{% block title %}
LoopLab
{% endblock title %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <input type="text" name="full_name" placeholder="Your name" id="">
    {% if form.full_name.errors %}
        {% for error in form.full_name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endif %}
    <input type="email" name="email" id="" placeholder="yourmail@mail.com">
    {% if form.email.errors %}
        {% for error in form.email.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    {% endif %}
    <input type="submit" value="Join">
</form>

{% endblock content %}